.footer-upper {
  background-color: $footer-color;
  padding-top: 20px;
}

.footer-text {
  font-family: $font-stack-condensed;
}

.footer-text,
.footer-text a:link,
.footer-text a:visited {
  color: $footer-upper-text-color;
}

.fa-facebook-official {
  color: $facebook-color;
}

.fa-facebook-official:hover {
  @include transform(1.2);
}

.logo-wghf {
  width: 127px;
}

.logo-hra {
  width: 140px;
}

.footer-lower {
  color: $footer-lower-text-color;
  background-color: $brand-color;
  padding: 10px;
}

.footer-text-lower {
  font-family: $font-stack;
}

.rick,
.rick:hover {
  color: inherit;
}


/************************************/
/***            Tablet            ***/
/************************************/
  // @media screen and (min-width: 545px) {
  //   .logo-wghf {
  //     width: 75%;
  //   }

  //   .logo-hra {
  //     width: 75%;
  //   }
  // }

/************************************/
/**            Desktop            ***/
/************************************/
@media screen and (min-width: 769px) {
      .logo-wghf {
      // width: 190px;
      width: 90%;
      max-width: 190px;
    }

    .logo-hra {
      // width: 210px;
      width: 90%;
      max-width: 210px
    }
  }