#carouselControls {
  background-color: black;
}

/*.carousel-inner {
  max-width: 800px;
  max-height: 700px;
  width: 100%;
}*/

.carousel-item img {
  background: cover;
  height: 300px;
  margin: auto;
}

.carousel-caption p {
  text-shadow: 2px 2px 4px #000000;
}

/************************************/
/***            Tablet            ***/
/************************************/
  @media screen and (min-width: 545px) {
    .carousel-item img {
      height: 600px;
    }
  }