.img-depot {
  width: 800px;
}

.calendar,
.donate {
  margin-top: 15px;
}

.mission,
.meetings {
  margin-top: 15px;
}

/************************************/
/***            Tablet            ***/
/************************************/
  @media screen and (min-width: 545px) {
    .mission, 
    .meetings {
      margin-top: 30px;
    }

  .calendar,
  .donate {
    padding: 20px;
  }
}

/************************************/
/**            Desktop            ***/
/************************************/
@media screen and (min-width: 769px) {
    .mission,
    .meetings {
      margin-top: 28px;
    }

  .calendar {
    padding: 5px;
  }

  .donate {
    padding: 10px;
  }
}

/************************************/
/**            Desktop            ***/
/************************************/
@media screen and (min-width: 1600px) {
  .mission,
  .meetings {
    margin-top: 40px;
  }

  .calendar {
    padding: 15px;
  }
}