.newsletter-page {
  width: 100%;
  background-size: cover;
  background-image: url('../images/OrangeBeltRR.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flatwheel-link {
  display: block;
  padding: 40px;
}

.drive-img {
  width: 30px;
}