$brand-color: #954838;
$facebook-color: #3B5998;
$footer-color: lightgray;
$footer-lower-text-color: white;
$footer-upper-text-color: black;
$navbar-selected-color: yellow;
$pdf-color: red;

$font-title-bar: 'Libre Baskerville', serif;
$font-stack: 'Open Sans', sans-serif;
$font-stack-condensed: 'Open Sans Condensed', sans-serif;

@import 'mixins';
@import 'reset';
@import 'titleBar';
@import 'navBar';
@import 'home';
@import 'footer';

p, 
.order-link,
.links-li {
  font: 1.1em $font-stack;
}

.img-station,
.img-map,
.img-signal,
.img-colletion {
  width: 100%;
}

.parallax {
  background-image: url(../images/SteamRun.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.museum-history-title {
  font: 600 75px $font-stack;
  color: white;
  position:relative;
  top: 90px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.page-title,
.page-title-membership,
.page-title-newsletter {
  font: 600 45px $font-stack;
  padding: 12px;
  margin: 0 !important;
}

.page-title-membership,
.page-intro-membership,
.membership-form, 
.page-title-newsletter,
.page-intro-newsletter {
  background-color: white;
  margin-left: 15px !important;
  margin-right: 15px !important;
  border-radius: 5px 5px 0 0;
}

.page-intro-membership,
.page-intro-newsletter {
  padding: 0 20px 20px 20px;
  border-radius: 0 0 5px 5px;
}

.membership-form {
  padding: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  border-radius: 5px;
}

.membership-container,
.newsletter-container {
  opacity: .9;
  padding-bottom: 30px;
}

.links-page {
  height: 120vh;
  background-size: cover;
  /*background-image: url('../images/RRMuseumArtistic.jpg');*/
  background-image: url('../images/DepotTest2.png');
  background-position: center;
  background-repeat: no-repeat;
}

.membership-page {
  width: 100%;
  background-size: cover;
  background-image: url('../images/T&GPicnic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.newsletter-page {
  width: 100%;
  background-size: cover;
  background-image: url('../images/OrangeBeltRR.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pdf {
  color: $pdf-color;
}
 
.member-card-header {
  background-color: $brand-color;
  padding: 15px;
  color: white;
  opacity: 1 !important;
}

.member-card-title{
  color: white;
  font-size: 1.5em;
}

.member-card-footer {
  color: $brand-color;
  font-size: 1.5em;
}

#carouselControls {
  background-color: black;
}

/*.carousel-inner {
  max-width: 800px;
  max-height: 700px;
  width: 100%;
}*/

.carousel-item img {
  /*position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: none;*/
  background: cover;
  height: 600px;
  /*margin-top: 0;
  margin-bottom: 0;*/
  margin: auto;
}

.carousel-caption p {
  text-shadow: 2px 2px 4px #000000;
}

.store-item {
  padding: 20px;
}

.hr-store {
  background-color: $brand-color;
  margin: 20px auto;
}

.store-image img {
  box-shadow: 5px 5px 5px #888888;
  @include transition();
}

.store-image:hover img {
  @include transform(1.25);
}

.links-li {
  list-style: none;
}

.flatwheel-link {
  display: block;
  padding: 40px;
}

.drive-img {
  width: 30px;
}

.img-caboose {
  padding: 20px;
}

.img-plaque {
  padding: 20px 30px 20px 0;
}

.img-headlight {
  width: 80%;
}