$brand-color: #954838;
$facebook-color: #3B5998;
$footer-color: lightgray;
$footer-lower-text-color: white;
$footer-upper-text-color: black;
$navbar-selected-color: yellow;
$pdf-color: red;

$font-title-bar: 'Libre Baskerville', serif;
$font-stack: 'Open Sans', sans-serif;
$font-stack-condensed: 'Open Sans Condensed', sans-serif;

@import 'mixins';
@import 'reset';
@import 'titleBar';
@import 'navBar';
@import 'home';
@import 'membership';
@import 'museum';
@import 'gallery';
@import 'newsletter';
@import 'store';
@import 'footer';

p, 
.order-link,
.links-li {
  font: 1.1em $font-stack;
}

.page-title,
.page-title-membership,
.page-title-newsletter {
  font: 600 2em $font-stack;
  padding: 12px;
  margin: 0 !important;
}

.page-title-links {
   text-shadow: 2px 2px 4px #FFFFFF;
}

.page-title-membership,
.page-intro-membership,
.membership-form, 
.page-title-newsletter,
.page-intro-newsletter {
  background-color: white;
  margin-left: 15px !important;
  margin-right: 15px !important;
  border-radius: 5px 5px 0 0;
}

.page-intro-membership,
.page-intro-newsletter {
  padding: 0 20px 20px 20px;
  border-radius: 0 0 5px 5px;
}

.membership-container,
.newsletter-container {
  opacity: .9;
  padding-bottom: 30px;
}

.links-page {
  height: 120vh;
  background-size: cover;
  /*background-image: url('../images/RRMuseumArtistic.jpg');*/
  background-image: url('../images/DepotTest2.png');
  background-position: center;
  background-repeat: no-repeat;
}

.pdf {
  color: $pdf-color;
}

.links-li {
  list-style: none;
}

/************************************/
/***            Tablet            ***/
/************************************/
  @media screen and (min-width: 545px) {
    .page-title,
    .page-title-membership,
    .page-title-newsletter {
      font: 600 2.8em $font-stack;
    }
  }