*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.title {
  color: #954838;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px lightgray;
}

nav {
  background-color: #954838;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
}

.nav-link,
.dropdown-item,
.dropdown-toggle {
  color: white;
}

.nav-link:hover,
.dropdown-item:hover {
  color: lightgray;
  background-color: #954838;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.dropdown-menu {
  background-color: #954838;
}

.selected {
  color: yellow !important;
}

.fa-facebook,
.fa-bars {
  color: white;
  padding: 4px;
}

.fa-facebook:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.dropdown:focus,
#navbarDropdownMenuLink:focus {
  color: lightgray;
}

.img-depot {
  width: 800px;
}

.calendar {
  padding: 30px;
  text-align: center;
}

.membership-page {
  width: 100%;
  background-size: cover;
  background-image: url("../images/T&GPicnic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.member-card-header {
  background-color: #954838;
  padding: 15px;
  color: white;
  opacity: 1 !important;
}

.member-card-title {
  color: white;
  font-size: 1.5em;
}

.member-card-footer {
  color: #954838;
  font-size: 1.5em;
}

.membership-form {
  padding: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  border-radius: 5px;
}

.img-headlight {
  width: 80%;
}

.img-station,
.img-map,
.img-signal,
.img-colletion {
  width: 100%;
}

.parallax {
  background-image: url(../images/SteamRun.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.museum-history-title {
  font: 600 45px "Open Sans", sans-serif;
  color: white;
  position: relative;
  top: 100px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.img-caboose {
  padding: 20px;
}

.img-plaque {
  padding: 20px 30px 20px 0;
}

/************************************/
/***            Tablet            ***/
/************************************/
@media screen and (min-width: 545px) {
  .museum-history-title {
    font: 600 75px "Open Sans", sans-serif;
    color: white;
    position: relative;
    top: 90px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
  }
}

#carouselControls {
  background-color: black;
}

/*.carousel-inner {
  max-width: 800px;
  max-height: 700px;
  width: 100%;
}*/
.carousel-item img {
  background: cover;
  height: 300px;
  margin: auto;
}

.carousel-caption p {
  text-shadow: 2px 2px 4px #000000;
}

/************************************/
/***            Tablet            ***/
/************************************/
@media screen and (min-width: 545px) {
  .carousel-item img {
    height: 600px;
  }
}

.newsletter-page {
  width: 100%;
  background-size: cover;
  background-image: url("../images/OrangeBeltRR.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flatwheel-link {
  display: block;
  padding: 40px;
}

.drive-img {
  width: 30px;
}

.store-item {
  padding: 20px;
}

.hr-store {
  background-color: #954838;
  margin: 20px auto;
}

.store-image img {
  box-shadow: 5px 5px 5px #888888;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.store-image:hover img {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

.footer-upper {
  background-color: lightgray;
  padding-top: 20px;
}

.footer-text {
  font-family: "Open Sans Condensed", sans-serif;
}

.footer-text,
.footer-text a:link,
.footer-text a:visited {
  color: black;
}

.fa-facebook-official {
  color: #3B5998;
}

.fa-facebook-official:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.logo-wghf {
  width: 190px;
}

.logo-hra {
  width: 210px;
}

.footer-lower {
  color: white;
  background-color: #954838;
  padding: 10px;
}

.footer-text-lower {
  font-family: "Open Sans", sans-serif;
}

.rick,
.rick:hover {
  color: inherit;
}

p,
.order-link,
.links-li {
  font: 1.1em "Open Sans", sans-serif;
}

.page-title,
.page-title-membership,
.page-title-newsletter {
  font: 600 2em "Open Sans", sans-serif;
  padding: 12px;
  margin: 0 !important;
}

.page-title-links {
  text-shadow: 2px 2px 4px #FFFFFF;
}

.page-title-membership,
.page-intro-membership,
.membership-form,
.page-title-newsletter,
.page-intro-newsletter {
  background-color: white;
  margin-left: 15px !important;
  margin-right: 15px !important;
  border-radius: 5px 5px 0 0;
}

.page-intro-membership,
.page-intro-newsletter {
  padding: 0 20px 20px 20px;
  border-radius: 0 0 5px 5px;
}

.membership-container,
.newsletter-container {
  opacity: .9;
  padding-bottom: 30px;
}

.links-page {
  height: 120vh;
  background-size: cover;
  /*background-image: url('../images/RRMuseumArtistic.jpg');*/
  background-image: url("../images/DepotTest2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.pdf {
  color: red;
}

.links-li {
  list-style: none;
}

/************************************/
/***            Tablet            ***/
/************************************/
@media screen and (min-width: 545px) {
  .page-title,
  .page-title-membership,
  .page-title-newsletter {
    font: 600 2.8em "Open Sans", sans-serif;
  }
}
/*# sourceMappingURL=App.css.map */